

body {
    /* background: #FCFCFB; */
    font-family: 'Roboto', sans-serif;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}

.text-center {
    /* background: #FCFCFB; */
}

.portfolio {
    /* background: #FCFCFB; */
}

.card-img-top {
    border-bottom: solid 1px lightgray;

}