

body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}

.text-center {
    background-color: white;
}

.portfolio {
    background-color: white;
}

.card-img-top {
    border-bottom: solid 1px lightgray;

}

.port-card {
    border: solid 2px #6C6A64;
}