

body {
    background: #fdfbf5;
    font-family: 'Roboto', sans-serif;
}

.card-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}

.text-center {
    background: #fdfbf5;
}

.portfolio {
    background: #fdfbf5;
}